#This work is licensed under a Creative Commons Attribution-Share Alike 3.0 License.
#(http://creativecommons.org/licenses/by-sa/3.0/de/deed.en)



###############################################################################
#
# name: t37
# author: tenner,modified by joshglendenning
# date: 2013-08-06
# http://www.tenr.de 
# http://www.nominaltech.com/
#
############################################################## FONTS ##########
					
#menu.frame.font:						sans-9:bold
#menu.title.font:						sans-10:bold
#toolbar.clock.font:						sans-9:bold
#toolbar.workspace.font:					tahoma-10:bold
#toolbar.iconbar.focused.font:			sans-8:bold
menu.frame.font:						sans-9
menu.title.font:						sans-10
toolbar.clock.font:						sans-9
toolbar.workspace.font:					tahoma-10
toolbar.iconbar.focused.font:			sans-8
toolbar.iconbar.unfocused.font:			sans-8
window.font:							sans-8

############################################################## MENU ###########

menu.bevelWidth:						1

menu.itemHeight:						35
menu.titleHeight:						21
menu.borderColor:						#444444
menu.borderWidth:						1

menu.bullet:							diamond
menu.bullet.position:					Right

menu.title:								flat
menu.title.justify:						center
menu.title.color:						#333333
menu.title.colorTo:						#333333
menu.title.textColor:					#eeeeee

menu.frame:								flat		
menu.frame.justify:						left
menu.frame.color:						#333333
menu.frame.colorTo:						#333333
menu.frame.textColor:					#eeeeee
menu.frame.disableColor:				#000000

menu.hilite:							flat
menu.hilite.color:						#444444
menu.hilite.colorTo:					#444444
menu.hilite.textColor:					#eeeeee			

############################################################## TOOLBAR ########

toolbar.bevelWidth:						0

toolbar.borderWidth:					7
#toolbar.borderColor:					#444444
toolbar.borderColor:					#333333

toolbar.height:							25

toolbar.justify:						center

toolbar:								flat
toolbar.pixmap:							
toolbar.color:							#333333
toolbar.colorTo:						#333333

toolbar.clock:							flat
toolbar.clock.justify:					center
toolbar.clock.color:					#333333
toolbar.clock.colorTo:					#333333
toolbar.clock.textColor:				#eeeeee

toolbar.workspace:						flat
toolbar.workspace.justify:				Center
#toolbar.workspace.color:				#333333
toolbar.workspace.color:				#339966
toolbar.workspace.colorTo:				#339966
toolbar.workspace.textColor:			#eeeeee

toolbar.button:							flat 
toolbar.button.color:					#444444
toolbar.button.colorTo:					#444444
toolbar.button.picColor:				#eeeeee
toolbar.button.pressed:					flat 
toolbar.button.pressed.color:			#333333
toolbar.button.pressed.colorTo:			#333333
toolbar.button.pressed.picColor:		#000000

toolbar.iconbar.empty:					flat
toolbar.iconbar.empty.color:			#333333
toolbar.iconbar.empty.colorTo:			#333333

!toolbar.iconbar.focused.borderWidth:	1
!toolbar.iconbar.focused.borderColor:	#aeaeae
toolbar.iconbar.focused:				flat
toolbar.iconbar.focused.color:			#333333
toolbar.iconbar.focused.colorTo:		#333333
toolbar.iconbar.focused.textColor:		#eeeeee
toolbar.iconbar.focused.justify:		center

!toolbar.iconbar.unfocused.borderWidth:	1
!toolbar.iconbar.unfocused.borderColor:	#aeaeae
toolbar.iconbar.unfocused:				flat
toolbar.iconbar.unfocused.color:		#333333
toolbar.iconbar.unfocused.colorTo:		#333333
toolbar.iconbar.unfocused.textColor:	#aaaaaa
toolbar.iconbar.unfocused.justify:		center

############################################################## WINDOW #########

window.bevelWidth:						0
window.shade:							false
window.borderWidth:						1
window.borderColor:						#444444

window.justify:							Center

window.title.height:					20

window.title.focus:						flat
window.title.focus.color:				#339966
window.title.focus.colorTo:				#339966
window.title.unfocus:					flat
window.title.unfocus.color:				#333333
window.title.unfocus.colorTo:			#333333

window.label.focus:						flat
window.label.focus.color:				#339966
window.label.focus.colorTo:				#339966
window.label.focus.textColor:			#eeeeee
window.label.unfocus:					flat
window.label.unfocus.color:				#333333
window.label.unfocus.colorTo:			#333333
window.label.unfocus.textColor:			#aaaaaa

window.button.focus:					flat
window.button.focus.color:      		#333333
window.button.focus.colorTo:      		#333333
window.button.focus.picColor:			#eeeeee
window.button.unfocus:					flat
window.button.unfocus.Color:			#333333
window.button.unfocus.ColorTo:			#333333
window.button.unfocus.picColor:			#eeeeee
window.button.pressed:					flat
window.button.pressed.color:			#333333
window.button.pressed.colorTo:			#333333
window.button.pressed.picColor:			#e8bb86

window.shade.pixmap:					on.xpm


window.shade.unfocus.pixmap:			off.xpm
window.shade.pressed.pixmap:			pressed.xpm

window.unshade.pixmap:					on.xpm
window.unshade.unfocus.pixmap:			off.xpm
window.unshade.pressed.pixmap:			pressed.xpm

window.menuicon.pixmap:					on.xpm
window.menuicon.unfocus.pixmap:			off.xpm
window.menuicon.pressed.pixmap:			pressed.xpm

window.close.pixmap:					on.xpm
window.close.unfocus.pixmap:			off.xpm
window.close.pressed.pixmap:			pressed.xpm

window.iconify.pixmap:					on.xpm
window.iconify.unfocus.pixmap:			off.xpm
window.iconify.pressed.pixmap:			pressed.xpm

window.maximize.pixmap:					on.xpm
window.maximize.unfocus.pixmap:			off.xpm
window.maximize.pressed.pixmap:			pressed.xpm

window.stick.pixmap:					on.xpm
window.stick.unfocus.pixmap:			off.xpm
window.stick.pressed.pixmap:			pressed.xpm

window.stuck.pixmap:					pressed.xpm
window.stuck.unfocus.pixmap:			pressed.xpm
window.stuck.pressed.pixmap:			pressed.xpm

window.handle.focus:					flat
window.handle.focus.color:				#333333
window.handle.focus.colorTo:			#333333
window.handle.unfocus:					flat
window.handle.unfocus.color:			#333333
window.handle.unfocus.colorTo:			#333333
window.handleWidth:						0

window.grip.focus:						flat
window.grip.focus.color:				#333333
window.grip.focus.colorTo:				#333333
window.grip.unfocus:					flat
window.grip.unfocus.color:				#333333
window.grip.unfocus.colorTo:			#333333

###############################################################################
# EOF
